{% extends 'base.html' %}
{% block content %}

<h1>Event Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ event.name }}</span>
        <p>Summary: {{ event.short_summary }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Category: {{ event.get_category_display }}</p> 
        <p>Time: {{ event.time }}</p>
        <p>Location: {{ event.location }}</p>
        <p>About: {{ event.about }}</p>
        <p>Age: {{ event.age_restriction }}</p>
    </div>
</div>

{% endblock %}