{% extends 'base.html' %}
{% block content %}

<div class="vert-nav">
  <ul class="vert-ul">
    {% if user.is_authenticated %}
    <li class="vert-li"><a href="{% url 'events_create' %}">Add Event</a></li>
    <li class="vert-li"><a href="{% url 'index' %}">My Events</a></li>
    <li class="vert-li"><a href="">My Tickets</a></li>
    {% endif %}
  </ul>

  <div class="content-area">
    <h1>Events</h1>
    <!-- <form method="GET">
      <label for="filter">Filter Events:</label>
      <select name="filter" id="filter">
        <option value="all">All Events</option>
        <option value="created">Created Events</option>
        <option value="attending">Attending Events</option>
      </select>
    </form> -->
    <a href="{% url 'index' %}">All Events</a>
    <a href="{% url 'index' %}?filter=created">Created Events</a>
    <a href="{% url 'index' %}?filter=attending">Attending Events</a>

    {% for event in events %}
      <div class="index-card">
        <a href="{% url 'detail' event.id %}">
          <div class="index-info">
            <span class="index-name">{{ event.name }}</span>
            <span>Summary: {{ event.short_summary }}</span>
            <span>Date: {{ event.date }}</span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}