{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Event Platform</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul class="nav-ul">
        <li class="nav-logo"><a href="/">Event Platform</a></li>
        <li><a href="{% url 'about' %}" class="active">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'events_create' %}">Add Event</a></li>
            <li><a href="{% url 'index' %}">My Events</a></li>
              <li>
                <form action="{% url 'logout' %}" method="post" class="inline-form">
                  {% csrf_token %}
                  <button type="submit">Log Out</button>
                </form>
              </li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2021 Event Platform &nbsp;</div>
  </footer>
</body>
</html>